<div
  class="d-flex flex-nowrap justify-content-around  align-items-center cart__item"
>
  <div>
    <img
      #productImage
      class="img-fluid w-25"
      [src]="product.imagePath"
      alt="{{ product.name }}"
      (error)="errorOnLoad(productImage)"
    />
    <h4>{{ product.name }}</h4>
  </div>
  <button
    class="btn btn-primary btn-sm mr-1 ml-auto"
    [ngClass]="{
      'btn-danger': product.quantity === 1,
      'btn-xs': tabletMode === 'TABLET'
    }"
    onError="this.src='assets/img/no-image.svg';"
    (click)="decrement()"
  >
    &minus;
  </button>
  <h4 class="lead mr-1">{{ product.quantity }}</h4>
  <button
    class="btn btn-primary btn-sm ml-auto"
    (click)="increment()"
    [ngClass]="{ 'btn-xs': tabletMode === 'TABLET' }"
  >
    &#43;
  </button>
  <h4 class="ml-auto">{{ product.price * product.quantity }} Kr</h4>
</div>
